body {
  padding: 5vh 5vw;
  font-family: "Lato";
  font-style: normal;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 10px
}
.logo {
  width: 40px;
  height: 40px;
}
h1 {
  color: #d04a4a;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
}

/* search */
.main-search {
  position: relative;
  left: 8px;
  width: 90vw;
  background: #e7e7e7;
}
.form-group {
  display: flex;
  align-items: center;
}
.fa-search {
  position: relative;
  left: -20px;
}

.btn {
  margin-right: 2vw;
  padding: 22px 20px;
}

.fa-chevron-down {
  margin-left: 30px;
}

/* main */
main {
  margin-top: 4vh;
}
article {
  border-radius: 5px;
  height: 364px;
  width: 480px;
  overflow: hidden;
  margin: 1vh 1vw;
  margin-bottom: 4vh;
}
.recipe-img {
  height: 178px;
  width: 480px;
  background: #c7bebe;
}

.recipe {
  background: #e7e7e7;
  padding: 5% 5%;
  height: 100%;
}

.recipe h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  margin: 0;
  white-space: nowrap;
}
.recipe h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin: 0;
}
.recipe h4 {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  margin: 0;
  white-space: nowrap;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
.recipe li {
  display: flex;
}
.fa-time {
  font-size: 14px;
  font-weight: bold;
}
.recipe span {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
}
.recipe p {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: initial;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  height: 109px;
  width: 171px;
  margin: 0;
}